{{>layouts/header}}
<svg viewBox="0 0 0 0" style="position: absolute; z-index: -1; opacity: 0;">
    <defs>
        <linearGradient id="boxGradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="25" y2="25">
            <stop offset="0%"   stop-color="#27FDC7"/>
            <stop offset="100%" stop-color="#0FC0F5"/>
        </linearGradient>

        <linearGradient id="lineGradient">
            <stop offset="0%"    stop-color="#0FC0F5"/>
            <stop offset="100%"  stop-color="#27FDC7"/>
        </linearGradient>

        <path id="todo__line" stroke="url(#lineGradient)" d="M21 12.3h168v0.1z"></path>
        <path id="todo__box" stroke="url(#boxGradient)" d="M21 12.7v5c0 1.3-1 2.3-2.3 2.3H8.3C7 20 6 19 6 17.7V7.3C6 6 7 5 8.3 5h10.4C20 5 21 6 21 7.3v5.4"></path>
        <path id="todo__check" stroke="url(#boxGradient)" d="M10 13l2 2 5-5"></path>
        <circle id="todo__circle" cx="13.5" cy="12.5" r="10"></circle>
    </defs>
</svg>


<div class="todo-list">
    <h1>ToDo List</h1>

    {{#todoList}}
    <div class="row">
        <div class="col-8">
        <label class="todo">
            <input class="todo__state" type="checkbox" id="{{id}}" value="{{completed}}" onclick="checkbox_Checked(this)"/>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 25" class="todo__icon">
                <use xlink:href="#todo__line" class="todo__line"></use>
                <use xlink:href="#todo__box" class="todo__box"></use>
                <use xlink:href="#todo__check" class="todo__check"></use>
                <use xlink:href="#todo__circle" class="todo__circle"></use>
            </svg>
            <div class="todo__text">{{title}}</div>
        </label>
        </div>
        <span class="col-1 index-todo-btn material-icons-outlined index-todo-btn-edit">
            <a href="/todos/{{id}}">search</a></span>
        <span class="col-1 index-todo-btn material-icons-outlined">
            <a href="/todos/{{id}}/edit">edit</a></span>
        <span class="col-1 index-todo-btn material-icons-outlined">
            <a href="/todos/{{id}}/delete">delete</a></span>
        <div class="col-1"></div>
        <hr />
    </div>
    {{/todoList}}

    <div style="margin-bottom: 5px;"></div>
    <p class="index-todo-link"><a href="/todos/new">new</a></p>
</div>

<script>

$("input:checkbox[value='true']").prop("checked",true); // 채크됨
$("input:checkbox[value='false']").prop("checked",false); //체크안됨

function checkbox_Checked(this_checkbox){
    console.log(this_checkbox);
    console.log($(this_checkbox));

    const checked = $(this_checkbox).prop("checked");
    const id = $(this_checkbox).prop("id");

    console.log(checked);
    console.log(id);

    const checkbox_status = {  // Json 키 값 = Dto 키 값
        "id" : id,
        "completed" : checked
    };
    console.log(checkbox_status);

    // 2. fetch() - 수정 REST API 호출
    const url = "/todos/update/" +checkbox_status.id;
    fetch(url, {
        method: "PATCH",                         // PATCH 요청을 보낼거다.
        body: JSON.stringify(checkbox_status),          // comment JS 객체(수정된 댓글)을 JSON 으로 바꿔서 보낸다.
        headers: {
            "Content-Type": "application/json" // body 에 실어서 보낸게 application/json 타입이다. (여기 안에는 json 이 들어있엉)
        }
    }).then(response => {
            // http 응답 코드에 따른 메세지 출력
            const msg = (response.ok)? "댓글이 수정되었습니다." : "댓글 수정 실패!";

<!--            if (checked === false){-->
<!--                // 현재 페이지 새로고침-->
<!--                window.location.reload();-->
<!--            }else{-->
<!--                setTimeout(function(){-->
<!--                    window.location.reload();-->
<!--                    }, 1000);-->

<!--            }-->

     });

}

</script>

{{>layouts/footer}}