{{>layouts/header}}

<form class="todo-list" action="/todos/create" method="post">
    <div class="mb-3">
        <label class="form-label">할일</label>
        <input type="text" class="form-control" name="title">
        <!-- name = DTO -->
    </div>
    <div class="mb-3">
        <label class="form-label">상세</label>
        <textarea class="form-control" cols="30" rows="3" name="content"></textarea>
        <!-- name = DTO -->
    </div>
    <p class="float-l-style"><a href="/todos">Back</a></p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-outline-dark">확인</button>
    </div>
</form>

{{>layouts/footer}}